{% extends 'acorndx/includes/statistic.html' %}
{% block select %}
    <form role="form" action="{% url 'statistic' depart=table%}" class="form-group" method="post">
        {% csrf_token %}
        <div class="input-group" title="x_label">
            <span class="input-group-addon" id="basic-addon1">横坐标</span>
            <select type="text" name="x_label" class="form-control" title="x_label">
                <option>--</option>
                {% for k,v in table_dict.items %}
                    <option value={{ k }}>{{ v }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group" title="y_label">
            <span class="input-group-addon" id="basic-addon1">纵坐标</span>
            <select type="text" name="y_label" class="form-control" title="y_label">
                <option>--</option>
                {% for k,v in table_dict.items %}
                    <option value={{ k }}>{{ v }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group" title="group">
            <span class="input-group-addon" id="basic-addon1">分组</span>
            <select type="text" name="group" class="form-control" title="group">
                <option>--</option>
                {% for k,v in table_dict.items %}
                    <option value={{ k }}>{{ v }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group" title="group">
            <span class="input-group-addon" id="basic-addon1">作图类型</span>
            <select type="text" name="pic_type" class="form-control" title="pic">
                <option value="Bar">条形图</option>
                <option>饼图</option>
                <option>折线图</option>
                <option>地区分布图</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block" name="summary" value="summary">数据概览</button>
        <button type="submit" class="btn btn-primary btn-block" name="statistic" value="statistic">统计</button>
    </form>
{% endblock %}
{% block plot %}
    <p>图片展示页面</p>
{% endblock %}