{% extends 'acorndx/base.html' %}
{% block head %}
    <link rel="stylesheet" href="../../../static/css/bootstrap-table.css">
    <link rel="stylesheet" href="../../../static/css/examples.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="../../../static/js/bootstrap-table.js"></script>
    <script src="../../../static/js/ga.js"></script>
{% endblock %}
{% block content %}
{#    添加返回按钮#}
{#    <form action="{% url 'depart' depart=table %}" method="POST">#}
{#        {% csrf_token %}#}
{#        <button type="submit" name="comeback" class="btn btn-primary" value="comeback">返回</button>#}
{#    </form>#}

{#    <h3>详细数据</h3>#}
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    {% for  db_title in heads_ch %}
                        <th>{{ db_title }}</th>>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% if hasData %}
                    {% for data in datas %}
                        <tr>{% for item in data %}
                            <td>{{ item }}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                {% else %}
                    <th>无数据</th>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <table id="table"
           data-toggle="table" data-height="460"
           data-url="{% url 'getData' depart=table %}"
           data-method="get"
           data-pagination="true"
           data-page-size="5"
           data-page-list="[10,20,30]"
           data-pagination-first-text="First"
           data-pagination-pre-text="Previous"
           data-pagination-next-text="Next"
           data-pagination-last-text="Last">
        <thead>
        <tr>
            <th data-field="id">ID</th>
            <th data-field="name">Item Name</th>
            <th data-field="price">Item Price</th>
        </tr>
        </thead>
    </table>

{% endblock %}
