{% extends 'acorndx/base.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <form class="form-signin" action="{% url 'register' %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="'chineseName" class="sr-only">姓名</label>
            <input type="text" class="form-control" name="chineseName" id="chineseName" placeholder="请输入真实姓名">
            <label for="username" class="sr-only">账号</label>
            <input type="text" name="username" id="'username" class="form-control" placeholder="请输入账号">
            <label for="password" class="sr-only">密码</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="请输入6-12位密码">
            <label for="password" class="sr-only">再输一遍</label>
            <input type="password" name="password2" id="password2" class="form-control" placeholder="请再次确认密码">
            <input type="email" name="email" id="email" class="form-control" placeholder="请输入邮箱">
{#            <input type="submit" class="submit" value="立即注册">#}
            <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
        </form>
    </div>
{% endblock %}

